<div class = "container">
  <div class = "row justify-content-center"> <!-- about -->
    <div class = "col-2">
    </div>
    <div class="col-8 text-center">
      <h1 style="font-weight: bold; background-color: #ffffcc; display: inline-block; padding: 5px;">
      〜このサイトについて〜
      </h1>
      <br>
      <br>
      <div style="max-width: 80%; margin: 0 auto; text-align: left;">
        <h4 style="font-weight: bold;">サイトテーマ</h4>
        <h5>「空き家HELP」</h5>
        <p>
          空き家の活用方法を紹介・共有できるSNSサイトです。<br>
          ユーザー同士で、空き家の活用方法を共有しましょう！！<br>
          ※このポートフォリオでは、空き家の情報やユーザー情報は架空のデータを使用します。
        </p>
    
        <h4 style="font-weight: bold;">テーマを選んだ理由</h4>
        <p>
          私は自身の身の回りで起こっている、空き家問題について考えました。<br>
          日本では少子高齢化、人口減少に伴い全国で空き家が増えているようで、
          私の地元でも空き家が年々増加しています。<br>
          家は誰も住まなくなると、「メンテナンスがされない」
          「建物は空気の流れが止まるため、湿気から劣化しやすくなる」
          というように倒壊などの危険性が上がります。<br>
          こちらのサイトでは、どのような空き家があるか、
          また空き家の活用方法にはどのようなものがあるか等を紹介、共有することができます。<br>
          空き家の活用方法が少しでも広まり、このようなサイトがあることで
          空き家の所有者や地域の助けになればいいなと思います。
        </p>
    
        <h4 style="font-weight: bold;">ターゲットユーザ</h4>
        <ul>
          <li>空き家を所有している人</li>
          <li>空き家に興味がある人</li>
          <li>地方へ移住したい人</li>
        </ul>
    
        <h4 style="font-weight: bold;">主な利用シーン</h4>
        <ul>
          <li>空き家の活用方法を探している時</li>
          <li>地方移住を考えている時（地方いいな、空き家もありだなと思った時）</li>
          <li>空き家の雰囲気を知りたい時</li>
        </ul>
    
        <%= image_tag asset_path("日本のリビングルーム.jpg"), style: "width: 100%;", class: "card-img" %>
      </div>
    </div>
    <div class = "col-2">
    </div>
  </div>
</div>