<div class = "container">
  <div class = "row justify-content-center"> <!-- top説明 -->
    <div class = "col-2">
    </div>
    <div class = "col-8 text-center">
      <%= image_tag "空き家トップバナー.jpg", class: "card-img" %>
    </div>
    <div class = "col-2">
    </div>
  </div>
  <div class = "row">
    <div class = "col-2">
    </div>
    <div class = "col-8">
      <br>
      <h3 style="margin-top: 20px;">新着POST(最新5件)</h3>
    </div>
    <div class = "col-2">
    </div>
  </div>
  <div class = "row"> <!-- 新着post５件 -->
    <div class = "col-2">
    </div>
    <div class = "col-8">
      <%= render 'public/posts/post', posts: @posts %>
      <div>
        <% unless (user_signed_in? || admin_signed_in?) %>
          他のPOSTを閲覧するには、<%= link_to "<u>ログイン</u>".html_safe, new_user_session_path %>してください。
        <% end %>
      </div>
    </div>
    <div class = "col-2">
    </div>
  </div>
</div>