<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-2">
    </div>
    <div class = "col-8", style="max-width: 80%; margin: 0 auto; text-align: left;">
      <h3><span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px;">　みんなの投稿 <i class="fa-regular fa-file"></i>　</span></h3>
      <%= render 'public/posts/post', posts: @posts %>
    </div>
    <div class = "col-2">
    </div>
  </div>
</div>